---
http_interactions:
- request:
    method: post
    uri: https://app.sandbox.icontact.com/icp/a/413323/c/124667/contacts
    body:
      encoding: UTF-8
      string: ! '[{"email":"subscriber@example.com"}]'
    headers:
      Api-Appid:
      - <APP_ID>
      Api-Username:
      - <USER_NAME>
      Api-Password:
      - <PASSWORD>
      Api-Version:
      - '2.2'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"contacts":[{"contactId":"66695798","prefix":"","firstName":"","lastName":"","suffix":"","street":"","street2":"","city":"","state":"","postalCode":"","phone":"","fax":"","business":"","email":"subscriber@example.com","createDate":"2012-06-09
        16:25:49","bounceCount":"","status":"normal"}]}'
  recorded_at: Sat, 09 Jun 2012 20:25:49 GMT
- request:
    method: post
    uri: https://app.sandbox.icontact.com/icp/a/413323/c/124667/lists
    body:
      encoding: UTF-8
      string: ! '[{"name":"Test Subscription List"}]'
    headers:
      Api-Appid:
      - <APP_ID>
      Api-Username:
      - <USER_NAME>
      Api-Password:
      - <PASSWORD>
      Api-Version:
      - '2.2'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"lists":[{"listId":"205305","name":"Test Subscription List","publicname":"","description":"","emailOwnerOnChange":1,"welcomeOnManualAdd":0,"welcomeOnSignupAdd":0,"welcomeMessageId":""}]}'
  recorded_at: Sat, 09 Jun 2012 20:25:49 GMT
- request:
    method: post
    uri: https://app.sandbox.icontact.com/icp/a/413323/c/124667/subscriptions
    body:
      encoding: UTF-8
      string: ! '[{"contactId":66695798,"listId":205305,"status":"normal"}]'
    headers:
      Api-Appid:
      - <APP_ID>
      Api-Username:
      - <USER_NAME>
      Api-Password:
      - <PASSWORD>
      Api-Version:
      - '2.2'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"subscriptions":[{"addDate":"2012-06-09T16:25:50-04:00","contactId":"66695798","listId":"205305","status":"normal","subscriptionId":"205305_66695798"}]}'
  recorded_at: Sat, 09 Jun 2012 20:25:50 GMT
- request:
    method: post
    uri: https://app.sandbox.icontact.com/icp/a/413323/c/124667/contacts/66695798
    body:
      encoding: UTF-8
      string: ! '{"status":"deleted"}'
    headers:
      Api-Appid:
      - <APP_ID>
      Api-Username:
      - <USER_NAME>
      Api-Password:
      - <PASSWORD>
      Api-Version:
      - '2.2'
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"errors":["The status value you provided was not valid. status can
        be either donotcontact or normal. Please provide a valid status"]}'
  recorded_at: Sat, 09 Jun 2012 20:25:50 GMT
- request:
    method: delete
    uri: https://app.sandbox.icontact.com/icp/a/413323/c/124667/lists/205305
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Appid:
      - <APP_ID>
      Api-Username:
      - <USER_NAME>
      Api-Password:
      - <PASSWORD>
      Api-Version:
      - '2.2'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Sat, 09 Jun 2012 20:25:51 GMT
recorded_with: VCR 2.1.1
